{% extends "base_generic.html" %}


{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Relatórios de Horas Trabalhadas</h1>

        <h2 class="text-2xl font-semibold mt-4 mb-2">Diário</h2>
        <ul class="list-disc pl-5 mb-4">
            
            {% for punch in daily_report %}
                <li class="mb-1">{{ punch.punch_in_time }} - {{ punch.punch_out_time }}</li>
            {% endfor %}
                
        </ul>
    
        <h2 class="text-2xl font-semibold mt-4 mb-2">Semanal</h2>
        <ul class="list-disc pl-5 mb-4">
            
            {% for punch in weekly_report %}
                <li class="mb-1">{{ punch.punch_in_time }} - {{ punch.punch_out_time }}</li>
            {% endfor %}
                
        </ul>
    
        <h2 class="text-2xl font-semibold mt-4 mb-2">Mensal</h2>
        <ul class="list-disc pl-5 mb-4">
            
            {% for punch in monthly_report %}
                <li class="mb-1">{{ punch.punch_in_time }} - {{ punch.punch_out_time }}</li>
            {% endfor %}
                
        </ul>
    </div>
{% endblock content %}
    